/* Родительский контейнер (обертка) для компонента */
.Modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: #020917;
}

.Modal.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ModalContent {
  max-width: 400px;
  padding: 35px;
  display: flex;
  flex-flow: column nowrap;

  background-color: transparent;
  border: 1.2px solid #e94560;
  border-radius: 2px;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  font-family: 'Battambang', cursive;
  font-size: 20px;
  color: #e94560;
}

.closeBtn:hover {
  color: #ffffff;
}
