/* Родительский контейнер (обертка) для компонента */
.Modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: #22303c;
}

.Modal.active {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22303c;
}

.ModalContent {
  min-width: 250px;
  max-height: 400px;
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;
  border: 1.2px solid rgb(255, 255, 255);
  border-radius: 2px;
  background-color: #22303c;
}

.closeBtn {
  margin: 0 0 15px 0;
  align-self: flex-end;
  background-color: transparent;
  font-family: 'Battambang', cursive;
  font-size: 20px;
  color: #ffffff;
}

.closeBtn:hover {
  color: red;
}
