/* Родительский контейнер (обертка) для компонента */
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  padding: 20px;
  border-radius: 1px;
  background-color: white;
  height: 200px;
  width: 400px;
}

.modalCloseButton {
  color: #bf1717;
}

.modalTitle {
  color: #d9631e;
  font-size: 24px;
}
