#root {
  height: 100%;
  width: 100%;
}

.App {
  /* Базовые */
  height: 100vh;
  width: 100vw;
  background-color: #020917;

  /* выравнивание */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

