@import './styles/pure.css';

@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Cairo+Play:wght@500;600;700&family=Graduate&display=swap');

/*
font-family: 'Battambang', cursive;  -  мелкие надписи
font-family: 'Cairo Play', cursive;  -  кнопки меню
font-family: 'Graduate', cursive; -  заголовки форм
*/

#root {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  background-color: #22303c;
}
