/* Убираем отступы и рамки */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Способ расчёты высоты и ширины */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем подчёркивание текста */
:focus,
:active {
  outline: none;
}

/*Убираем подчёркивание ссылок */
a:focus,
a:active {
  outline: none;
}

/**/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  line-height: 1px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



/* задаем наследование семейства шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

/* курсор при наведении кнопок*/
button {
  cursor: pointer;
}

/* */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Убираем декоративные эфекты ссылок */
a,
a:visited {
  text-decoration: none;
}

/* Убираем декоративные эфекты ссылок */
a:hover {
  text-decoration: none;
}

/* Убираем маркировку в списках */
ul li {
  list-style: none;
}

/* Выравнивание верхнюю границу изображений */
img {
  vertical-align: top;
}

/* Приводим все стили заголовков к обычному тексту */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
