.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  background-color: #020917;
  justify-content: center;
}

.footerText {
  font-family: 'Graduate', cursive;
  color: #d9c043;
  text-align: center;
}
