.Footer {
  z-index: 5;
  height: 50px;
  background-color: #e94560;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.FooterText {
  background-color: transparent;

  font-family: 'Graduate', cursive;
  color: #d9c043;
  text-align: center;
}
