/* Родительский контейнер (обертка) для компонента (<div>)*/
.formContainer {
  padding: 20px 30px;
  background-color: #192734;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

/* Заголовок формы  (<p>)*/
.formTitle {
  font-family: 'Graduate', cursive;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #ffffff;
  margin: 0 0 30px 0;
}

/* Форма ауентфикации (<form>)*/
.authForm {
  display: flex;
  flex-direction: column;
}

/* Поля ввода текста*/
.textInput {
  color: white;
}

.formSection {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  padding: 5px 10px;
  margin: 10px 0;
}

/* Чекбокс (сама кнопка)*/
.checkbox {
  color: red;
}

/* Текс чекбокса (этикетка) */
.checkboxLabel {
  font-family: 'Cairo Play', cursive;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

/* Кнопка "Sign in" */
.signInBtn {
  background-color: #22303c;
  font-family: 'Graduate', cursive;
  font-size: 14px;
  letter-spacing: 0.035rem;
  color: #ffffff;
}

/* Кнопка "Forgot password" */
.recoverPassBtn {
  background-color: #22303c;
  font-family: 'Graduate', cursive;
  font-size: 14px;
  letter-spacing: 0.035rem;
  color: #ffffff;
}
