.background {
  background-color: #15202b;
}
.card {
  background-color: #192734;
}

.hover-color {
  background-color: #22303c;
}

.primary-text {
  color: #ffffff;
}

.secondary-text {
  color: #8899a6;
}
